@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;

  img,
  audio,
  video {
    width: auto;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  а {
    cursor: pointer;
    text-decoration: none;
  }
}
